/* global  */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,body{
    font-family: 'Times New Roman', Times, serif;
}
.clear{
    clear: both;
}

#main{

}
#header{
    position: fixed;
    right: 0;
    left: 0;
    height: 46.5px;
    background-color: #000;
    margin-bottom: 3px;

}
#nav {
    display: inline-block;
}
#nav, .subnav{
    list-style-type: none;
    min-width: 160px;
}
#nav >li{
    display: inline-block;
}
#nav li{
    
    position: relative;
}
#nav > li > a {
    color: #fff;
}
#nav li a {
    text-decoration: none;
    line-height: 46.5px;
    padding: 0 24px;
    display: block;
}
#nav li:hover .subnav{
    display: block;
}
#nav> li:hover> a,#nav .subnav li:hover a   {
    color: #000;
    background-color: #ccc;
}
#nav .subnav
{
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    top: 100%;
    left: 0;
}
#nav .subnav a{
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}
#nav .nav-arrow-down{
    font-size: 14px;
}
#header .search-btn{
    float: right;
    line-height: 47px;
    padding: 0 21px;
    cursor: pointer;
}
#header .search-btn:hover{
    background-color: red;
}
#header .search-icon{
    color: #fff;
    font-size: 20px;
}
.carousel img{
    /* background-image: url("../img/1.png"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 550px;
    width: 100%;
}

/* products  */
.products
{
    margin-bottom: 70px;
}
.products h2{
    text-align: center;
    font-size: 40px;
    padding: 10px 0 10px;
}
.products__item{
    float:left;
    width: 25%;
    padding: 0 15px;
}
.products__item img{
    width: 100%;
}
.products__item h3{
    font-size: 25px;
}
.products__item p{
    font-size: 17px;
}
.products__item button
{
    background-color: red;
    border: 1px solid red;
    border-radius: 3px;
    color: white;
    padding: 5px 10px;
    margin: 5px 0 0;
}
.products__item button:hover{
    background-color:#C43434;
}
.products__item button:active{
    background-color:#C43434;
    transform: translateY(2px);
}
/* banner  */
.banner img{
    /* background-image: url("../img/gsx150-ket-cau.png"); */
    width: 100%;
    height: 350px;
    background-size: cover;
    background-position: center;
}
.banner__circle{

}
/* service  */
.service{
    margin: 20px 0 20px;
}
.service__content{
    width: 50%;
    margin: auto;
    text-align: center;
}
.service__item
{
    float: left;
    width: 33.33%;
}
.service__item i {
    font-size: 40px;
}
.service__item h2 {
    margin: 10px 0;
}
.service__item p{
    margin-right: 6px;
}
.footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px 0 10px;
}
.banner__circle{
    width: 300px;
    height: 300px;
    /* rgba  */
    background-color: rgba(0, 0, 0, 0.705);
    color: white;
    border-radius: 50%;
    text-align: center;
    /* opacity: 0.8; */
    position: absolute;
    /* top, left, right,bottom  */
    left: 320px;
    margin-top: -330px;
} 
.banner__circle p{
    font-size: 20px;
    margin: 0 0 20px;
}
.banner__circle p:first-child{
    font-size: 30px;
    margin: 50px 0 0;
}
.banner__circle p:nth-child(2){
    font-size: 80px;
}
.abc{
    margin-left: 550px;
}
h1{
    margin-left: 200px;
 }
 .doanvan{
     font-size:  28.6px;
 
 }
 
 .anh p img{
     float: left;
     margin:0 20px 0 145px;
   
 }
 